.contact-section{
    padding:120px 8%;
}

.contact-grid{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(280px,1fr));

    gap:30px;
}

.contact-card{

    text-decoration:none;

    background:rgba(255,255,255,0.05);

    backdrop-filter:blur(15px);

    border:1px solid rgba(255,255,255,0.08);

    border-radius:25px;

    padding:35px;

    text-align:center;

    transition:.4s;

    color:white;

    position:relative;

    overflow:hidden;
}

.contact-card::before{

    content:"";

    position:absolute;

    width:200px;
    height:200px;

    background:rgba(56,189,248,.1);

    border-radius:50%;

    top:-100px;
    right:-100px;

    transition:.5s;
}

.contact-card:hover{

    transform:translateY(-12px);

    box-shadow:
      0 0 30px rgba(56,189,248,.25);
}

.contact-card:hover::before{
    transform:scale(1.3);
}

.contact-icon{

    font-size:2.5rem;

    color:#38bdf8;

    margin-bottom:20px;
}

.contact-card h3{

    margin-bottom:12px;

    font-size:1.3rem;
}

.contact-card p{

    color:#cbd5e1;

    line-height:1.7;
}

.hire-card{

    background:
    linear-gradient(
      135deg,
      rgba(56,189,248,.15),
      rgba(139,92,246,.15)
    );
}

.hire-card .contact-icon{
    color:#8b5cf6;
}

@media(max-width:768px){

.contact-grid{
    grid-template-columns:1fr;
}

}